mutt/.mutt/accounts/yahoo/cache/*
mutt/.mutt/accounts/gmail/cache/*
vim/.vim/cache/*
vim/.vim/.netrwhist
.config/zsh/cache/*
.config/zsh/autoload/*
.config/zsh/plugins/*
.config/zsh/.p10k.zsh
.config/mpv/watch_later
.config/less/lesshistory
.config/less/lesskey.lwc
.config/weechat/*
!.config/weechat/weechat.conf
.config/nnn/*
.config/ncmpcpp/*
!config/.config/ncmpcpp/config
!config/.config/ncmpcpp/bindings
.config/mpd/*
!.config/mpd/mpd.conf
.config/aria2/session.lock
.config/systemd/user/default.target.wants
