[submodule "zsh/.zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/.zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/.zsh/plugins/zsh-autosuggestions"]
	path = zsh/.zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/.zsh/plugins/fzf-marks"]
	path = zsh/.zsh/plugins/fzf-marks
	url = https://github.com/urbainvaes/fzf-marks.git
[submodule "vim/.vim/pack/plugins/start/lightline"]
	path = vim/.vim/pack/plugins/start/lightline
	url = https://github.com/itchyny/lightline.vim
