!    _  __________  _________  __  _______________  _____
!   | |/_/ ___/ _ \/ ___/ __ \/ / / / ___/ ___/ _ \/ ___/
!  _>  </ /  /  __(__  ) /_/ / /_/ / /  / /__/  __(__  )
! /_/|_/_/   \___/____/\____/\__,_/_/   \___/\___/____/
!

! ------------------------------------------------------------------------------
! Import Colour from ~/.xrdb
! ------------------------------------------------------------------------------
#include ".xrdb/colors/tomorrow"
/* #include ".xrdb/rofi/nord" */
#include ".xrdb/fonts/iosevka"

! ------------------------------------------------------------------------------
! URxvt configs
! ------------------------------------------------------------------------------
URxvt.geometry:                 120x24
URxvt*letterSpace:              0
URxvt.lineSpace:                0
URxvt*internalBorder:           2
URxvt.borderLess:               false
URxvt*depth:                    32
URxvt*saveline:                 10000
! URxvt*termName:                 rxvt-unicode-256color
URxvt*termName:                 xterm-256color-italic
URxvt*title:                    Urxvt
URxvt*iso14755:                 false
URxvt*iso14755_22:              false
URxvt*scrollBar:                false
URxvt*scrollBar_right:          false
URxvt.perl-ext-common:          default,clipboard,vtwheel
URxvt.copyCommand:              xclip -i -selection clipboard
URxvt.pasteCommand:             xclip -o -selection clipboard
URxvt.keysym.Shift-Control-C:   perl:clipboard:copy
URxvt.keysym.Shift-Control-V:   perl:clipboard:paste
URxvt.urlLauncher:              firefox
URxvt.underlineURLs:            false
URxvt.urlButton:                1
URxvt*buffered:                 false
URxvt.urgentOnBell:             true
URxvt*cursorUnderline:          true
URxvt*cursorBlink:              true

! ------------------------------------------------------------------------------
! Xft Font Configuration
! ------------------------------------------------------------------------------
Xft.autohint:                   0
Xft.dpi:                        96
Xft.lcdfilter:                  lcddefault
Xft.hintstyle:                  hintslight
Xft.hinting:                    true
Xft.antialias:                  true
Xft.rgba:                       rgb
