!    _  __________  _________  __  _______________  _____
!   | |/_/ ___/ _ \/ ___/ __ \/ / / / ___/ ___/ _ \/ ___/
!  _>  </ /  /  __(__  ) /_/ / /_/ / /  / /__/  __(__  )
! /_/|_/_/   \___/____/\____/\__,_/_/   \___/\___/____/
!

! ------------------------------------------------------------------------------
! Import Colour from ~/.xrdb
! ------------------------------------------------------------------------------
! #include ".xrdb/colors/onedark"
#include ".xrdb/fonts/iosevka"
! special
*.foreground:   #c5c8c6
*.background:   #1d1f21
*.cursorColor:  #c5c8c6

! black
*.color0:       #1d1f21
*.color8:       #969896

! red
*.color1:       #cc6666
*.color9:       #cc6666

! green
*.color2:       #b5bd68
*.color10:      #b5bd68

! yellow
*.color3:       #f0c674
*.color11:      #f0c674

! blue
*.color4:       #81a2be
*.color12:      #81a2be

! magenta
*.color5:       #b294bb
*.color13:      #b294bb

! cyan
*.color6:       #8abeb7
*.color14:      #8abeb7

! white
*.color7:       #c5c8c6
*.color15:      #ffffff

! ------------------------------------------------------------------------------
! URxvt configs
! ------------------------------------------------------------------------------
URxvt.geometry:                 120x24
URxvt*letterSpace:              0
URxvt.lineSpace:                0
URxvt*internalBorder:           2
URxvt.borderLess:               false
URxvt*depth:                    32
URxvt*saveline:                 10000
URxvt*termName:                 xterm-256color
URxvt*title:                    Urxvt
URxvt*iso14755:                 false
URxvt*iso14755_22:              false
URxvt*scrollBar:                false
URxvt*scrollBar_right:          false
URxvt.perl-ext-common:          default,clipboard,vtwheel
URxvt.copyCommand:              xclip -i -selection clipboard
URxvt.pasteCommand:             xclip -o -selection clipboard
URxvt.keysym.Shift-Control-C:   perl:clipboard:copy
URxvt.keysym.Shift-Control-V:   perl:clipboard:paste
URxvt.urlLauncher:              firefox
URxvt.underlineURLs:            false
URxvt.urlButton:                1
URxvt*buffered:                 false
URxvt.urgentOnBell:             true
URxvt*cursorUnderline:          true
URxvt*cursorBlink:              true

! ------------------------------------------------------------------------------
! Xft Font Configuration
! ------------------------------------------------------------------------------
Xft.autohint:                   0
Xft.dpi:                        96
Xft.lcdfilter:                  lcddefault
Xft.hintstyle:                  hintslight
Xft.hinting:                    true
Xft.antialias:                  true
Xft.rgba:                       rgb
